@import '../../assets/stylesheets/application.scss';

.projects {
    grid-column: indent-start / indent-end;
    background-color: $color-offwhite;
    padding: 5rem;
    position: relative;
}

.content {
    display: grid;
    grid-auto-flow: row dense;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-row-gap: 2.5rem;
    margin: 8rem 0;
}

.card {
    background-color: rgba($color-lover-violet, .5);
    border-radius: 3px;
    cursor: pointer;
    grid-row: span 3;
    height: 40rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 1.5rem;
    padding-right: 7rem;
    position: relative;
    transition: all .2s;
    width: 35rem;

    &:hover {
        opacity: 70%;
    }
}

.mockup {
    bottom: -4rem;
    left: -3rem;
    position: absolute;
    transform: rotate(-17deg);
    width: 130%;
}

.tech {
    display: inline-block;
    padding-right: 1rem;
    font-size: 1.15rem;
}

.tagline {
    height: 17rem;
}