@import '../../assets/stylesheets/application.scss';

.hello {
    background-color: $color-offwhite;
    display: flex;
    flex-direction: column;
    grid-column: full-start / full-end;
    justify-content: center;
    padding: 8rem;
    position: relative;

    @media (max-width: 600px) {
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }
}