@import '../../assets/stylesheets/application.scss';

.footer {
    align-items: center;
    background-color: transparent;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    padding: 0 2rem;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.icon_padding {
    padding: 0 .5rem;
}

.icon {
    height: 2.5rem;
    width: 2.5rem;
}