@import '../../assets/stylesheets/application.scss';

.copyright {
    align-items: center;
    background-color: $color-offwhite;
    display: flex;
    height: 4rem;
    justify-content: center;
    grid-column: full-start / full-end;
    text-align: center;
}