@import '../../assets/stylesheets/application.scss';

.experience {
    display: grid;
    background-color: $color-offwhite;
    grid-template-rows: 1fr 3fr;
    grid-column: indent-start / indent-end;
    padding: 5rem;
    position: relative;
}

.tabPanel {
    width: 60%;
    padding: 0 5rem;
}

.bullets {
    color: $color-offblack;
    font-family: $font-default;
    font-size: 1.3rem;
    line-height: 1.2;
    list-style: none;
    margin-left: 2rem;
    padding-left: 1rem;
    position: relative;
}

.bullet {

    &::before {
        content: '//';
        color: $color-lover-pink;
        left: -2rem;
        position: absolute;
    }
}