.h--1 {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url('../images/lover-gradient.jpg');
    background-size: cover;
    color: transparent;
    font-family: $font-default;
    font-size: 7vw;
    font-weight: bold;
    text-transform: lowercase;
}

.h--num {
    color: $color-lover-pink;
    display: inline;
    font-family: $font-accent;
    font-size: 2rem;
}

.h--2 {
    color: $color-offblack;
    display: inline;
    font-family: $font-default;
    font-size: 4rem;
    font-weight: 500;
    text-transform: lowercase;
}

.h--3 {
    color: $color-offblack;
    font-family: $font-default;
    font-size: 3rem;
    font-weight: 500;
}

.h--4 {
    color: $color-offblack;
    font-family: $font-accent;
    font-size: 1.75rem;
    font-weight: normal;
}

.h--5 {
    color: $color-offblack;
    font-family: $font-default;
    font-size: 1.75rem;
    font-weight: normal;
}

p {
    color: $color-offblack;
    font-family: $font-default;
    font-size: 1.6rem;
    line-height: 1.5;
}

.link, .link:visited, .link:link, .link:active {
    color: $color-lover-pink;
    text-decoration: none;

    &:hover {
        animation: daylight 1s infinite ease-in;
    }
}

.type--accent { font-family: $font-accent; font-size: 1.4rem; }
.type--bold { font-weight: bold; }
.type--center { text-align: center; }